@import url('https://fonts.googleapis.com/css?family=Chonburi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

*{
    font-family: 'Sarabun', sans-serif;
}

h3, #NavbarFont{
    font-family: 'Chonburi', cursive !important;
    text-align: center;
}

footer{
    width: 100%;
    background: #033169;
    padding: 1em;
    color: #fff;
    text-align: center;
}

